.price-container {
    width: 100%;
    border-bottom: 1px solid #E6E7EB;
    padding-bottom: 10px;
}

.price-wrapper {
    display: flex;
    align-items: center;
    flex-direction: row;
    font-size: 14px;
    margin-bottom: 6px;
}

.option-wrapper {
    display: flex;
    flex-direction: row;
    gap: 2px;
}

.oldprice-wrapper {
    display: flex;
    flex-direction: row;
    color: #999999;
    text-decoration: line-through;
}