.button-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 0.5em;
    font-weight: 500;
    font-size: 14px;
}

.description-text-wrapper {
    height: 100%;
    margin-bottom: 1em;
}

.description-text {
    line-height: 24px;
    color: #333333;
}